{{!-- <p><a href="/user/reviews/{{user_id}}">{{username}}</a></p>
<p>{{content}}</p> --}}

       <div class="container mx-12 mt-5 border-solid border-4 border-black border-opacity-75 rounded-md">

        <div class="group relative pl-5 pt-2">
          <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
            <a href="#">
              <span class="absolute inset-0"></span>
              Boost your conversion rate
            </a>
          </h3>
          <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">{{content}}</p>
        </div>
        <div class="relative mt-4 flex items-center gap-x-4 ">
          <div class="text-sm leading-6 pl-5 pb-2">
            <p class="font-semibold text-gray-900">
              <a href="/user/reviews/{{user_id}}">
                <span class="absolute inset-0"></span>
               {{username}}
              </a>
            </p>
            <time class="text-gray-600">{{format_date createdAt}}</span>
            {{!-- <p class="text-gray-600">Co-Founder / CTO</p> --}}
          </div>
        </div>
       </div>
